@model TaskManager.Models.TaskModel

<div class="card">
    <div class="card-body">
        <h1 class="card-title">#@Model.Id: @Model.Title</h1>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Html.Partial("_TaskStatus", Model.Status)</p>
        <p class="card-text"><b>Created at:</b> @Html.Partial("_DateTimeView", Model.CreatedAt)</p>
        <p class="card-text"><b>Completed at:</b> @Model.CompletedAt</p>
        <p class="card-text"><b>Responsible:</b> @Model.Responsible</p>
        <p class="card-text"><b>Estimated time:</b> @Model.EstimatedTime</p>
        <p class="card-text"><b>Lead time:</b> @Model.LeadTime</p>
        <hr>
        <a class="btn btn-warning" href="@Url.Action("Edit", "Task", new { id = Model.Id })">Edit task</a>
        &nbsp;
        <button class="btn btn-danger" id="delete_task">Delete task</button>
        <hr>
        <div>
            <p>Subtasks:</p>
            <ul>
                <li><a href="/task/5">Subtask for #4: Test task</a><span> (Estimation: 515)</span></li>
            </ul>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#delete_task").click(function() {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Task", new { id = Model.Id })",
                    data: null,
                    success: function() {
                        window.location.href = "@Url.Action("List")";
                    }
                });
            });
        });
    </script>
}
