@model TaskManager.Models.TaskModel

<h1>Edit Task</h1>
@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="Title">
            Title
            @Html.EditorFor(t => t.Title, new { htmlAttributes = new { @class = "form-control" } })
        </label>
    </div>
    <div class="form-group">
        <label for="Description">
            Description
            @Html.EditorFor(t => t.Description, new { htmlAttributes = new { @class = "form-control" } })
        </label>
    </div>
    <div class="form-group">
        <label for="ParentId">
            Parent Task
            @Html.EditorFor(t => t.ParentId, new { htmlAttributes = new { @class = "form-control" } })
        </label>
    </div>
    <div class="form-group">
        <label for="Responsible">
            Responsible
            @Html.EditorFor(t => t.Responsible, new { htmlAttributes = new { @class = "form-control" } })
        </label>
    </div>
    <div class="form-group">
        <label for="EstimatedTime">
            Estimation (in minutes)
            @Html.EditorFor(t => t.EstimatedTime, new { htmlAttributes = new { @class = "form-control" } })
        </label>
    </div>
    <div class="form-group">
        <label for="LeadTime">
            Actual time expenditure (in minutes)
            @Html.EditorFor(t => t.LeadTime, new { htmlAttributes = new { @class = "form-control" } })
        </label>
    </div>
    @Html.HiddenFor(t => t.Id)
    <input type="submit" value="Send" />
}
